<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
    <%=render 'layouts/head' %>
  </head>
  <body>
  <!-- It's yielding a block -->
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%=render 'layouts/footer' %>
    </div>
  </body>
</html>
